
button{
	padding: 20px;
	cursor: pointer;
	border: 0px;
	outline: none;
}

.btn-circle{
	padding: 0px;
	vertical-align: middle;
	border-radius: 1000px;
	background-color: red;
	min-width: 45px;
	max-width: 45px;
	min-height: 45px;
	max-height: 45px;
}

button img{
	vertical-align: middle;
}