:root {
	--fontN: "Roboto";

	--principal: #011627;
	--secundario: #F15025;
	--tercero: #CED0CE;
	--cuarto: #2196F3;

	--white: #fff;
	--green: limegreen;
	--dblue: #252233;
	--resalte:  #252233;
	--disabled: #888;


	--bradius: 2px;
}
