#menu{
	position: absolute;
	display: inline-block;
	background-color: var(--principal);
	min-width: 100%;
	max-width: 100%;
	min-height: 50px;
	max-height: 50px;
}
.menu-logo{
	font-weight: bold;
	color: var(--white);
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 20px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.1);
}